.Table-container {
  overflow-x: auto; /*Needed for table to be responsive*/
}

.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
}

.Table-head tr th {
  text-align: left;
  padding: 10px 20px;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.Table-body tr th{
  padding: 10px 20px;
  text-align: left;
}
tr:hover {
  cursor: pointer;
}

.coin{
  text-align: left;
}
.positive{
  color:green;
}

.negative{
  color:red;
}