.Table-container {
  overflow-x: auto; /*Needed for table to be responsive*/
}

.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  background-color: #111111;
}

.Table-head tr th {
  padding: 10px 20px;
  color: #9cb3c9;
  
  font-size: 14px;
  font-weight: 400;
}